// Specific CSS for your home-page
.home-background {
  background-image: url(https://i.pinimg.com/originals/69/68/1e/69681ef4639fa37d34c05f824a597cb3.jpg);
  height: 100vh;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home-titre {
  display: flex;
  justify-content: center;
}

// .home-container {
//   display: flex;
// }

// .home-left {
//   width: 50%;
// }
