// Specific CSS for your home-page


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.home-background {
  background-image: url(https://i.pinimg.com/originals/69/68/1e/69681ef4639fa37d34c05f824a597cb3.jpg);
  height: 100vh;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home-titre {
  display: flex;
  justify-content: center;
}

.home-titre h1{
  font-size: 100px;
  padding-top: 75px;
  font-family: 'Lobster', cursive;
  text-shadow: 6px 5px 2px #541302;
  color: red;
}

.home-container {
  display: flex;
}

.home-left {
  min-width: 50%;
}

.home-right {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 150px;
  text-align: center;
  position: relative;
  z-index: 10;

}

.home-left {
  display: flex;
  justify-content: center;
  margin-top: 47px;
  padding-right: 123px;
}

.home-left img {
  opacity: 0.7;
  transition: 0.5s;
  width: 250px;
  height: 250px;

}


.home-left img:hover {
  opacity: 0.9;
  transition: 0.5s;

}


.home-right p{
  margin-bottom: 70px;
  font-size: 20px;
  color: #511801;
  // text-shadow: 7px 5px 3px #ffca00;
  font-family: 'Secular One', sans-serif;
  z-index: 10;


}

.home-right:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(papier);
  background-size: 700px 790px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}




// .home-right a{
//   display: block;
//   background-color: #511801;
//   font-size: 20px;
//   padding: 8px 16px;
//   color: rgb(255, 255, 255);
//   border-radius: 12px;
//   box-shadow: 0px -6px 2px #ffffff96;
//   transition: transform 0.2s ease-in-out;
// }




/* CSS */
.button-74 {
  background-color: #511801;
  border-radius: 12px;
  box-shadow: #ffffff96 0 -4px 0 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 3px 40px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  box-shadow: #ffffff96 0px 0px 0 0;
  transform: translate(0px, -4px);
  color: #ffffff;
}

// .button-74:active {
//   box-shadow: #422800 2px 2px 0 0;
//   transform: translate(2px, 2px);
// }


.pokeball {
  width: 100px;
  height: 100px;
}



@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
