.body-index {
  background-image: url(https://us.123rf.com/450wm/pirina/pirina1604/pirina160400075/56220418-%C3%A9t%C3%A9-herbe-verte-texture-motif-summer-background-%C3%A9t%C3%A9-grass-texture-de-fond-herbe-pattern-pour-la.jpg);
}
.logo {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.index-proposition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 14px 0px;
}


.fondu-haut-index {
  //background-color: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  // height: 100px;
  // width: 100%;
  // background: #575757;
  // background: linear-gradient(180deg, #575757 0%, rgba(255,255,255,0) 100%);
  // position: absolute;
  // top: 0px;
}

.fondu-bas-index {
  //background-color: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  height: 100px;
  width: 100%;
  background: #575757;
  background: linear-gradient(0deg, #575757 0%, rgba(255,255,255,0) 100%);
}
