.body-show {
  background-image: url(https://us.123rf.com/450wm/pirina/pirina1604/pirina160400075/56220418-%C3%A9t%C3%A9-herbe-verte-texture-motif-summer-background-%C3%A9t%C3%A9-grass-texture-de-fond-herbe-pattern-pour-la.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.body-glass {
  background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.body-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.container-show-glass
{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
  margin-bottom: 100px;

}

.container-show-glass::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}

.show-type-price {
  display: flex;
  justify-content: space-between;
}

.show-description {
  display: flex;
  justify-content: center;
}

.show-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}


.fondu-bas-show {
  height: 100px;
  width: 100%;
  background: #575757;
  background: linear-gradient(0deg, #575757 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  bottom: 0px;
}
