<h1>Bienvenue sur ton Dashboard ! Trainer <%= current_user.email %>!</h1>
<%= link_to "index des pokemon", pokemons_path%>



<% @pokemons.each do |pokemon| %>
  <br><br><br><br><br>
  <p><%= pokemon.name %></p>
  <%= cl_image_tag pokemon.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
