<div class="home-background">

  <div class="home-titre">
    <h1>Pokemon Choose</h1>
  </div>


  <div class="home-container">

    <div class="home-left">
      <%= image_tag 'pokeball', size: '250x250',class: 'home-image', alt: 'Mon image' %>
    </div>

    <div class="home-right">
      <p>Bienvenue sur Pokémon Choose ! Vous pouvez louer des Pokémon de différents types et niveaux pour adapter votre stratégie à chaque combat et pour affronter vos adversaires avec un avantage compétitif.
      <br>
      <br>
      Si vous êtes propriétaire d'un Pokémon, vous pouvez le mettre à disposition des autres entraîneurs en fixant le prix et les conditions de location.
      <br>
      <br>
      Rejoignez-nous dès maintenant pour louer les meilleurs Pokémon pour vos combats !</p>
      <%= link_to "Découvrir", pokemons_path, class: "button-74"%>
    </div>

  </div>
</div>
