<div class="home-background">

  <div class="home-titre">
    <h1>Pokemon Choose</h1>
  </div>


  <div class="home-container">

    <div class="home-left">
    </div>

    <div class="home-right">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus aut praesentium eveniet eligendi ea distinctio, quod quisquam perferendis voluptas placeat ducimus atque sapiente maiores impedit corrupti, esse tempora, iste provident?</p>
      <%= link_to "Découvrir", pokemons_path, class: "button-74"%>
    </div>

  </div>
</div>
