


body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: black;
}

a.link-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-index{
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 10px
}

.card-container {
  background-color: rgb(81, 81, 81);

}

.index-card-jaune {
  background-color: rgb(255, 255, 46);
  width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.index-card-blue {
  background-color: rgb(0, 149, 255);
  height: 100%;
  width: 100%;
}

.index-card-blue p{
  margin-bottom: 0;
}

.index-card-nom-level-pv {
  display: flex;
  justify-content: space-around;
  margin: 5px 0px;
}

.index-card-photo {
  display: flex;
  justify-content: center;
}

.index-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}
