.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link {
  color: #fff;
}

.navbar {
  height: 100px;
  width: 100%;
  background: #575757;
  background: linear-gradient(180deg, #575757 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}
