<h1>index des pokemons</h1>
<p><%= link_to "ajouter votre pokemon",  new_pokemon_path %></p>


<% @pokemons.each do |pokemon| %>
  <p><%= pokemon.name %></p>
  <% if pokemon.photo.key != nil %>
    <%= cl_image_tag pokemon.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p><%= link_to "voir le pokemon",  pokemon_path(pokemon) %></p>
<% end %>
